/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4,h5,h6{
    font-family: 'Kumbh Sans', sans-serif !important;
}
*{
    font-family: 'Karla', sans-serif !important;
}

.material-icons{
    font-family: 'Material Icons' !important;
}
html, body { height: 100%; }

.color-primary{
    color: #FFB647
}
.background-primary{
    background-color: #FFB647
}
.color-secondary{
    color: #09C0FA
}
.background-secondary{
background-color: #09C0FA
}
.color-tertiary{
    color:#171C26
}
.background-tertiary{
    background-color: #171C26;
}
.background-white{
    background-color: #FFFF;
}
.button-primary{
    background-color: #FFB647;
    color:white;
}
.button-danger{
    background-color: red;
    color:white;
}
.button-primary-outline{
    background-color: white !important;
    color:#FFB647 !important;
    border-radius: 0.25rem !important;
    border: 0.1rem solid #FFB647 !important;
}
.button-danger-outline{
    background-color: white !important;
    color:red !important;
    border-radius: 0.25rem !important;
    border: 0.1rem solid red !important;
}
.fs-38{
    font-size: 38px !important;
}
.fs-32{
    font-size: 32px !important;
}
.ng-star-inserted{
    width: 100%;
    height: 100%;
}
.h-95{
height: 95% !important;
}
.h-5{
    height: 5% !important;
}