/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4,h5,h6{
    font-family: 'Kumbh Sans', sans-serif !important;
}
*{
    font-family: 'Karla', sans-serif !important;
}
.material-icons{
    font-family: 'Material Icons' !important;
}
html, body { height: 100%; }

.color-primary{
    color: #FFB647
}
.background-primary{
    background-color: #FFB647
}
.color-secondary{
    color: #09C0FA
}
.background-secondary{
background-color: #09C0FA
}
.color-tertiary{
    color:#171C26
}
.background-tertiary{
    background-color: #171C26;
}
.button-primary{
    background-color: #FFB647;
    color:white;
}
.button-primary-outline{
    background-color: white;
    color:#FFB647;
    border-radius: 2px;
    border: 0.1rem solid #FFB647;
}
.fs-38{
    font-size: 38px !important;
}
.fs-32{
    font-size: 32px !important;
}
